<?php

# Settings
$settings = array (
	'hostname' => 'localhost',
	'username' => 'the_username',
	'password' => 'the_password',
	'userIsStaffCallback' => 'userIsStaff',
);

# Load and run the committee listings class
require_once ('vendor/autoload.php');
new committeeListings ($settings);


# Callback to determine if the supplied username is internal staff
function userIsStaff ($username)
{
	// Return true or false
	// ...
}

?>
