#committeelistings ul li a.spaced {margin-bottom: 1em; display: block;}

#committeelistings #cornersearch {position: relative; top: -12px; right: 0;}
#committeelistings #editlink {clear: right; position: relative; top: -10px;} 