#committeelistings ul li a.spaced {margin-bottom: 1em; display: block;}

#committeelistings #cornersearch {position: relative; top: -12px; right: 0;}
#committeelistings #editlink {clear: right; position: relative; top: -10px;}

#committeelistings ul.additionalpapers {margin-top: 6px;}
#committeelistings ul.additionalpapers li {font-size: 0.92em;}

#committeelistings table.meetings tr td.edit {width: 70px;}
#committeelistings table.meetings tr td.edit a {margin-left: 4px; border: 1px solid #eee; padding: 4px; border-radius: 4px;}
#committeelistings table.meetings tr td.edit a:hover {background-color: #ddd;}

#committeelistings ul.tabs li a.empty {opacity: 0.6;}
